<ion-header>
  <div style="display: flex; width: 100%; justify-content: start">
    <ion-menu-button></ion-menu-button>
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Course</ion-label>
    <ion-select placeholder="Select Course">
      <ion-select-option value="SCSJ">SCSJ</ion-select-option>
      <ion-select-option value="SCSV">SCSV</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Student ID</ion-label>
    <ion-input [(ngModel)]="id" placeholder="Input your ID"></ion-input>
  </ion-item>
  <ion-button (click)="openSubjectModal()">Subjects</ion-button>
  <ion-button (click)="openTimetableModal()">Timetable</ion-button>
</ion-content>
