<ion-header>
  <div style="display: flex; width: 100%; justify-content: start">
    <ion-menu-button></ion-menu-button>
  </div>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Lecturer ID/ Lecturer Name</ion-label>
    <ion-input [(ngModel)]="searchString" placeholder=""></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="searchLecturer()">Search</ion-button>

  <ion-list *ngIf="filteredLecturerList">
    <ion-list-header> Search Result(s) </ion-list-header>
    <div *ngFor="let lecturer of filteredLecturerList; index as i ">
      <ion-item (click)="expandCard(i)">
        <ion-label>
          <h2>{{lecturer.nama}}</h2>
        </ion-label>
      </ion-item>
      <div *ngIf="collapse[i]" @expandCard>
        <ion-item-option (click)="openSubjectModal(lecturer.no_pekerja)"
          >Subject</ion-item-option
        >
        <ion-item-option (click)="openTimetableModal(lecturer.no_pekerja)"
          >Timetable</ion-item-option
        >
      </div>
    </div>
  </ion-list>
</ion-content>
