<div class="search-card">
  <ion-select
    style="
      width: 7rem;
      border-radius: 25px;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
    "
    (ionChange)="changeCourse($event)"
    value="SCSJ"
  >
    <ion-select-option [value]="course" *ngFor="let course of courses">{{
      course
    }}</ion-select-option>
  </ion-select>
  <ion-searchbar
    [(ngModel)]="searchString"
    style="--border-radius: 25px; font-size: 0.8rem"
    placeholder="Search by student name/ID"
    (keyup)="onsearch($event)"
    (ionClear)="clearsearch()"
  >
  </ion-searchbar>
</div>

<div class="search-result-container" *ngIf="studentList">
  <ion-list *ngIf="filteredStudentList && filteredStudentList.length">
    <ion-virtual-scroll [items]="filteredStudentList" approxItemHeight="110px">
      <ion-item
        (click)="openStudentDetail(student)"
        *virtualItem="let student; index as i"
        class="search-result-item"
      >
        <ion-label styl>
          <div style="display: flex; justify-content: space-between">
            <div style="width: 90%; white-space: pre-wrap">
              <h2 class="main-color">{{ student.nama }}</h2>
              <sub style="color: grey; font-style: italic">{{
                student.no_matrik
              }}</sub>
            </div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
          </div>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

  <div *ngIf="!filteredStudentList || !filteredStudentList.length">
    <app-no-result></app-no-result>
  </div>
</div>
<div *ngIf="!studentList">
  <app-loading></app-loading>
</div>
