<ion-card *ngFor="let ssd of sesiSemData; index as i">
  <div (click)="expandCard(i)" style="padding: 0 15px">
    <p
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-size: 1.3rem;
      "
    >
      {{ ssd.sesi + " - " + ssd.semester }}
      <ion-icon
        [@rotatedState]="collapse[i]"
        name="chevron-forward-outline"
      ></ion-icon>
    </p>
  </div>
  <div [@collapse]="collapse[i]">
    <ion-item *ngFor="let sub of ssd.subjects">
      <div style="display: flex; flex-direction: column">
        <p style="margin-top: 10px">
          <span style="text-transform: uppercase"> {{ sub.nama_subjek }} </span>
          <br />
          <i style="font-size: 0.8rem">{{ sub.kod_subjek }}</i>
          <br />
          Section: {{ sub.seksyen < 10 ? "0" + sub.seksyen : sub.seksyen }}
          <br />
          <span *ngIf="sub.bil_pelajar">
            Number of Students: {{ sub.bil_pelajar }}
          </span>
        </p>
      </div>
    </ion-item>
  </div>
</ion-card>
