<ion-card *ngFor="let ssd of sesiSemData; index as i">
  <div (click)="expandCard(i)" style="padding: 0 15px">
    <p
      style="
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      "
    >
      {{ ssd.sesi
      }}<ion-icon
        [@rotatedState]="collapse[i]"
        name="chevron-forward-outline"
      ></ion-icon>
    </p>
    <p>{{ ssd.semester }}</p>
  </div>
  <div [@collapse]="collapse[i]">
    <ion-item *ngFor="let sub of ssd.subjects">
      <div
        style="display: flex; flex-direction: column"
        (click)="viewSubjectDetail(sub)"
      >
        <p
          class="display-sub main-color"
          style="margin-top: 10px; text-transform: uppercase"
        >
          {{ sub.nama_subjek }}
        </p>
        <p class="display-sub sub-title">{{ sub.kod_subjek }}</p>
        <p class="display-sub sub-title">{{ sub.bil_pelajar }}</p>
      </div>
    </ion-item>
  </div>
</ion-card>
