.timetable {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 0.7rem;
  height: 100%;
  border: 0.5px solid rgb(196, 196, 196);
  border-right: none;
  border-bottom: none;
}

.border {
  border: 0.5px solid rgb(196, 196, 196);
  border-left: none;
  border-top: none;
}

.timetable-top-header {
  display: flex;
  flex-direction: row;
  div {
    flex: 1;
  }
}

.timetable-bottom {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: relative;
}

.timetable-side-header {
  display: flex;
  flex-direction: column;
  div {
    flex: 1;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.timetable-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: white;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    overflow: hidden;
  }
}

.timetable-data {
  padding-left: 1px;
  white-space: pre-line;
}

$colours: "0" white, "1" rgb(85, 203, 211), "2" rgb(199, 218, 199),
  "3" rgb(255, 182, 140), "4" rgb(255, 103, 135), "5" rgb(254, 142, 123),
  "6" rgb(40, 109, 114), "7" rgb(131, 63, 63), "8" rgb(173, 180, 66),
  "9" rgb(205, 139, 98), "10" rgb(138, 133, 131), "11" rgb(24, 188, 236),
  "12" rgb(253, 155, 103), "13" rgb(254, 207, 185), "14" rgb(251, 166, 199),
  "15" rgb(199, 148, 231), "16" rgb(133, 123, 186), "17" rgb(255, 180, 0),
  "18" rgb(199, 148, 231), "19" rgb(133, 123, 186), "20" rgb(255, 180, 0);

@each $i in $colours {
  .bg-color#{nth($i, 1)} {
    // background-color: rgb(random(255), random(255), random(255));
    background-color: nth($i, 2);
  }
}
