.timetable {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  background-color: #43b0f1;
}

.timetable-top-header {
  display: flex;
  flex-direction: row;
  background-color: #057dcd;
  border: 0.5px solid grey;
  div {
    width: calc(100% / 6);
  }
}

.timetable-bottom {
  display: flex;
  flex-direction: row;
  border: 0.5px solid grey;
  height: 100%;
  position: relative;
}

.timetable-side-header {
  width: calc(100% / 6);
  height: 100%;
  font-size: 0.8em;
  div {
    height: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.timetable-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 0.5px solid grey;
  color: #e8eef1;
  width: calc(100% / 5);
  width: 100%;

  div {
    height: calc(100% / 10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    overflow: hidden;
  }
  font-size: 0.8em;
}
.timetable-data {
  width: 20%;
  border: 0.5px solid grey;
}
