.content {
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 241, 241);
  height: 100%;
  width: 100%;

  div {
    background-color: white;
  }
}

.section {
  display: flex;
  padding: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;

  .title {
    color: var(--ion-color-primary);
    margin-bottom: 0.4rem;
  }
}

.top-section {
  flex-direction: row;
  align-items: center;
  flex-direction: row;

  ion-icon {
    font-size: 4rem;
    color: var(--ion-color-primary);
  }
  div {
    padding-left: 1rem;
  }

  .name {
    font-size: 1.3rem;
    font-weight: bold;
  }
  .id {
    font-size: 0.8remrem;
    color: grey;
  }
}

.info-section {
  flex-direction: column;
}

.setting-section {
  flex-direction: column;
  .theme-picker-box {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.item {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 100%;
  border-bottom: 1px solid rgba(116, 116, 116, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.circle {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}

.circle-radius {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  background-color: white;
  border: 2px solid var(--ion-color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-box {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.logout-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  width: 80%;
  font-weight: bold;
}
