<ion-content>
  <div class="content">
    <div class="section top-section">
      <ion-icon name="person-circle-outline"></ion-icon>
      <div>
        <span class="title">Name</span> <br />
        <span class="subtitle">A12CS123</span>
      </div>
    </div>
    <div class="section info-section">
      <div class="title">Information</div>
      <div>
        <p>some info here</p>
        <div class="hr"></div>
        <p>iext info</p>
        <div class="hr"></div>
      </div>
    </div>
    <div class="section setting-section">
      <div class="title">Settings</div>
      <div>
        <div>setting 1</div>
        <div class="hr"></div>
        <div>
          Themes <br />
          <div class="theme-picker-box">
            <div
              *ngFor="let theme of themes; index as i"
              (click)="setTheme(theme)"
              class="round"
              [class.round-border]="currentThemeIndex == i"
              [style.background-color]="theme.primary"
            ></div>
          </div>
        </div>
        <div class="hr"></div>
      </div>
    </div>
  </div>
</ion-content>
