<ion-content>
  <div class="content" *ngIf="isDataLoaded">
    <div class="section top-section">
      <ion-icon name="person-circle-outline"></ion-icon>
      <div>
        <span class="name"> {{currentUser.full_name}} </span> <br />
        <span class="id"> {{currentUser.login_name}} </span>
      </div>
    </div>

    <!-- <div class="section info-section">
      <div class="title">Information</div>
      <div>
        <div class="item">some info here</div>
        <div class="item">iext info</div>
      </div>
    </div> -->

    <div class="section setting-section">
      <div class="title">Settings</div>
      <div>
        <div class="item">
          <span> Offline Mode </span>
          <div>
            <ion-toggle
              [(ngModel)]="offlineMode"
              (ionChange)="setOfflineMode($event)"
            >
            </ion-toggle>
          </div>
        </div>
        <div class="item">
          <span> Session Semester </span>
          <div style="width: 10rem">
            <ion-select
              [disabled]="offlineMode"
              placeholder="Session / Semester"
              [compareWith]="compareWith"
              [(ngModel)]="currentSesiSem"
              (ionChange)="setCurrentSesiSem($event)"
            >
              <ion-select-option
                *ngFor="let sesiSem of sesiSemesters"
                [value]="sesiSem"
              >
                {{sesiSem.semester}} {{sesiSem.sesi}}
              </ion-select-option>
            </ion-select>
          </div>
        </div>
        <div class="item">
          <span>Themes</span>
          <div class="theme-picker-box">
            <div class="circle-box" *ngFor="let theme of themes; index as i">
              <div [class.circle-radius]="currentThemeIndex == i">
                <div
                  (click)="setTheme(theme)"
                  class="circle"
                  [style.background-color]="theme.primary"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section logout-section">
      <ion-button class="logout-btn" fill="outline" (click)="signout()">
        <ion-icon name="log-out-outline"></ion-icon> &nbsp; Log Out
      </ion-button>
    </div>
  </div>
</ion-content>
