<div class="modal-wrapper">
  <ion-content>
    <app-modal-header
      [(selectedTab)]="selectedTab"
      [properties]="headerModalProps"
    ></app-modal-header>
    <div *ngIf="selectedTab == 0" class="content">
      <h2 class="title">Basic Information</h2>
      <ion-card>
        <ion-card-content>
          <p><b> Name:</b> {{ lecturer.nama }}</p>
          <p><b> Staff ID:</b> {{ lecturer.no_pekerja }}</p>
          <p><b> Students:</b> {{ lecturer.bil_pelajar }}</p>
          <p><b> Number of sections:</b> {{ lecturer.bil_seksyen }}</p>
          <p><b> Number of subjects:</b> {{ lecturer.bil_subjek }}</p>
        </ion-card-content>
      </ion-card>
      <h2 class="title">Teaching Subjects</h2>
      <app-list-subject
        *ngIf="registeredSubjectListData"
        [registeredSubjectListData]="registeredSubjectListData"
      ></app-list-subject>
      <div *ngIf="!registeredSubjectListData">
        <app-loading></app-loading>
      </div>
    </div>

    <div *ngIf="selectedTab == 1" class="content">
      <app-timetable-subjects
        *ngIf="timetableData"
        [timetableData]="timetableData"
      ></app-timetable-subjects>
      <div *ngIf="!timetableData">
        <app-loading></app-loading>
      </div>
    </div>
  </ion-content>
</div>
