.header {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--ion-color-secondary);
  color: white;
}

.tab {
  width: 50%;
  padding: 0.3rem 1rem;
  text-align: center;
  color: white;
  opacity: 0.6;
}

.selected {
  opacity: 1;
}

.triangle {
  margin-top: -2rem;
  background-color: transparent;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-bottom: 20px solid white;
  position: relative;
  // left: 25%;
  transform: translateX(-20px);
  transition: left 0.5s;
}
