<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <div
          style="
            display: flex;
            flex-direction: row;
            height: 5rem;
            justify-content: space-between;
          "
        >
          <div style="display: flex; align-items: flex-end">
            <ion-icon
              name="person-circle-outline"
              style="font-size: 4rem; align-self: flex-end"
            ></ion-icon>
            <p style="padding-left: 1rem">NAME HERE</p>
          </div>

          <ion-icon name="settings-outline" style="font-size: 2rem"></ion-icon>
        </div>

        <ion-list>
          <ion-menu-toggle
            auto-hide="false"
            *ngFor="let p of appPages; let i = index"
          >
            <ion-item
              (click)="selectedIndex = i"
              routerDirection="root"
              [routerLink]="[p.url]"
              lines="none"
              detail="false"
              [class.selected]="selectedIndex == i"
            >
              <ion-icon
                slot="start"
                [ios]="p.icon + '-outline'"
                [md]="p.icon + '-sharp'"
              ></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-icon
          name="log-out-outline"
          style="right: 25px; position: fixed; bottom: 25px; font-size: 2rem"
        ></ion-icon>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
