<div
  style="
    margin: 0.5rem;
    padding: 0.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
  "
>
  <span
    style="
      align-self: flex-end;
      color: var(--ion-color-danger);
      border: none;
      overflow: hidden;
      position: relative;
      padding: 0.5rem 0.5rem;
      border-radius: 10px;
    "
    class="ion-activatable ripple-parent"
    (click)="dismiss()"
  >
    close <ion-ripple-effect></ion-ripple-effect>
  </span>
  <span style="font-weight: bold; font-size: 1.1rem; margin-bottom: 0.5rem">{{
    title
  }}</span>
  <span style="font-size: 0.9rem; white-space: pre-wrap">{{
    data || " "
  }}</span>
</div>
