<div (click)="openCalendar()">
  <div class="ion-activatable">
    <ion-icon
      name="calendar-outline"
      class="calendar-icon"
      style="font-size: large"
    ></ion-icon>
  </div>
  <p>
    <span *ngIf="!dateRange">Select a date</span>
    <span *ngIf="dateRange">
      {{ dateRange.from.dateObj | date: "d MMMM yyyy" }} -
      {{ dateRange.to.dateObj | date: "d MMMM yyyy" }}
    </span>
  </p>
</div>

<div style="display: flex; flex-direction: column">
  <div>
    <ion-list>
      <ion-radio-group value="day" (ionChange)="radioGroupChangeDay($event)">
        <div style="display: flex; flex-direction: row" (click)="expandCard1()">
          <ion-list-header>
            <ion-label>Select a day</ion-label>
          </ion-list-header>
          <ion-icon
            [@rotatedState]="collapse1"
            name="chevron-forward-outline"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          ></ion-icon>
        </div>
        <!-- <div>{{ selectedRadioDay }}</div> -->

        <div [@collapse]="collapse1">
          <ion-item>
            <ion-label>Sunday</ion-label>
            <ion-radio slot="start" value="1" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Monday</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Tuesday</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Wednesday</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Thursday</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Friday</ion-label>
            <ion-radio slot="start" value="6"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Saturday</ion-label>
            <ion-radio slot="start" value="7"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>
    </ion-list>
  </div>
</div>
<div>
  <ion-list>
    <div style="display: flex; flex-direction: row" (click)="expandCard2()">
      <ion-list-header>
        <ion-label>Select a time slot</ion-label>
      </ion-list-header>
      <ion-icon
        [@rotatedState]="collapse2"
        name="chevron-forward-outline"
        style="
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        "
      ></ion-icon>
    </div>
    <!-- <div *ngFor="let t of tempTimeslot">{{ t.value }}</div> -->

    <div [@collapse]="collapse2">
      <ion-list>
        <ion-item *ngFor="let entry of timeslot">
          <ion-label>{{ entry.val }}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</div>
<ion-button (click)="getAvailableRoom()"> Search </ion-button>

<div class="search-result-container" *ngIf="availableRoomList">
  <ion-list *ngIf="availableRoomList && availableRoomList.length">
    <ion-virtual-scroll [items]="availableRoomList" approxItemHeight="110px">
      <ion-item
        (click)="openRoomDetail(room)"
        *virtualItem="let room"
        class="search-result-item"
      >
        <ion-label>
          <div style="display: flex; justify-content: space-between">
            <div style="width: 90%; white-space: pre-wrap">
              <h2 class="main-color">
                {{ room.nama_ruang }} [{{ room.nama_ruang_singkatan }}]
              </h2>
              <sub style="color: grey; font-style: italic">
                {{ room.kod_ruang }}
              </sub>
            </div>
            <ion-icon
              name="chevron-forward-outline"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              "
            ></ion-icon>
          </div>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

  <app-no-result
    *ngIf="!availableRoomList || !availableRoomList.length"
  ></app-no-result>
</div>

<!-- <app-loading *ngIf="!availableRoomList"></app-loading> -->
