<div style="text-align: center" class="search-option-container">
  <div (click)="openCalendar()" class="calendar-btn">
    <div style="display: flex; flex-direction: row; align-items: center">
      <div class="ion-activatable">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <ion-list-header>
        <ion-label>
          {{ sdateRangeFrom }} -
          {{ sdateRangeTo }}
        </ion-label>
      </ion-list-header>
    </div>
  </div>

  <div style="display: flex; flex-direction: column">
    <div>
      <ion-list>
        <ion-radio-group value="day" (ionChange)="radioGroupChangeDay($event)">
          <div class="day-btn" (click)="expand(0)">
            <div
              style="display: flex; flex-direction: row; align-items: center"
            >
              <div class="ion-activatable">
                <ion-icon name="browsers-outline"></ion-icon>
              </div>
              <ion-list-header>
                <ion-label>{{
                  selectedDay ? selectedDay.val : "Select a day"
                }}</ion-label>
              </ion-list-header>
            </div>
            <div>
              <ion-icon
                [@rotatedState]="collapse[0]"
                name="chevron-forward-outline"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                "
              ></ion-icon>
            </div>
          </div>

          <div [@collapse]="collapse[0]">
            <ion-item *ngFor="let day of days">
              <ion-label>{{ day.val }}</ion-label>
              <ion-radio slot="start" [value]="day"></ion-radio>
            </ion-item>
          </div>
        </ion-radio-group>
      </ion-list>
    </div>
  </div>
  <div>
    <ion-list>
      <div class="timeslot-btn" (click)="expand(1)">
        <div style="display: flex; flex-direction: row; align-items: center">
          <div class="ion-activatable">
            <ion-icon name="time-outline"></ion-icon>
          </div>
          <ion-list-header>
            <ion-label>{{ selectedSlots || "Select timeslot(s)" }}</ion-label>
          </ion-list-header>
        </div>
        <div>
          <ion-icon
            [@rotatedState]="collapse[1]"
            name="chevron-forward-outline"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          ></ion-icon>
        </div>
      </div>

      <div [@collapse]="collapse[1]">
        <ion-list>
          <ion-item *ngFor="let entry of timeslot">
            <ion-label>{{ entry.val }}</ion-label>
            <ion-checkbox
              slot="start"
              [(ngModel)]="entry.isChecked"
            ></ion-checkbox>
          </ion-item>
        </ion-list>
      </div>
    </ion-list>
  </div>

  <ion-button (click)="getAvailableRoom()"> Search </ion-button>
</div>

<div class="search-result-container" *ngIf="availableRoomList">
  <ion-list *ngIf="availableRoomList && availableRoomList.length">
    <ion-virtual-scroll [items]="availableRoomList" approxItemHeight="110px">
      <ion-item
        (click)="openRoomDetail(room)"
        *virtualItem="let room"
        class="search-result-item"
      >
        <ion-label>
          <div style="display: flex; justify-content: space-between">
            <div style="width: 90%; white-space: pre-wrap">
              <h2 class="main-color">
                {{ room.nama_ruang }} [{{ room.nama_ruang_singkatan }}]
              </h2>
              <sub style="color: grey; font-style: italic">
                {{ room.kod_ruang }}
              </sub>
            </div>
            <ion-icon
              name="chevron-forward-outline"
              style="
                display: flex;
                flex-direction: column;
                justify-content: space-between;
              "
            ></ion-icon>
          </div>
        </ion-label>
      </ion-item>
    </ion-virtual-scroll>
  </ion-list>

  <app-no-result
    *ngIf="!availableRoomList || !availableRoomList.length"
  ></app-no-result>
</div>

<app-loading *ngIf="isSearching"></app-loading>
