<ion-content
  *ngIf="isDataLoaded"
  scroll="test"
  [scrollEvents]="true"
  (ionScroll)="scroll($event)"
>
  <div
    style="
      width: 100%;
      display: flex;
      overflow: scroll;
      justify-content: center;
      flex-shrink: 0;
      background-color: rgb(252, 252, 181);
    "
  >
    <div
      class="tabArr"
      (click)="selectTab0()"
      [ngClass]="{'selected':tabArray[0].status == 1}"
    >
      Timetable
    </div>
    <div
      class="tabArr"
      (click)="selectTab1()"
      [ngClass]="{'selected':tabArray[1].status == 1}"
    >
      Subject
    </div>
  </div>
  <!-- <div style="background: green">&nbsp;</div> -->
  <!-- <div *ngIf="viewMode == 'subject'">Subjectssssssss</div>
  <div *ngIf="viewMode == 'timetable'">Timetableeeeeeeee</div> -->

  <div
    style="height: 100%"
    [class.selected]="tabArray[1].status == 0"
    *ngIf="tabArray[0].status"
  >
    <app-timetable-subjects [timetableData]="timetableData">
    </app-timetable-subjects>
  </div>
  <div
    style="height: 100%"
    [class.selected]="tabArray[1].status == 1"
    *ngIf="tabArray[1].status"
  >
    <app-subject-list [registeredSubjectListData]="registeredSubjectListData">
    </app-subject-list>
  </div>
</ion-content>
