ion-toggle {
  width: 80%;
}
$tabColor: rgb(184, 245, 184);

.tabArr {
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  margin-top: 15px;
  padding: 10px;
  width: 50%;
  text-align: center;
}

.selected {
  background: $tabColor;
}
