<ion-header *ngIf="currentSesiSem">
  <div class="home-header">
    <span class="header-title">
      {{ currentSesiSem.semester + " "+ currentSesiSem.sesi }}
    </span>
    <span class="select-tab">
      <div
        class="tab"
        [class.selected]="selectedTab==i"
        *ngFor="let tab of tabs;index as i"
        (click)="selectTab(i)"
      >
        <ion-icon
          [name]="selectedTab==i ? tab.icon :tab.icon+'-outline' "
        ></ion-icon>
      </div>
    </span>
  </div>
</ion-header>

<ion-content
  [scrollEvents]="true"
  (ionScroll)="scroll($event)"
  *ngIf="currentSesiSem"
>
  <div class="home-content" *ngIf="selectedTab==0">
    <app-timetable-subjects
      [timetableData]="timetableData"
      *ngIf="timetableData"
    >
    </app-timetable-subjects>
    <app-loading *ngIf="!timetableData"></app-loading>
  </div>
  <div class="home-content" *ngIf="selectedTab==1">
    <app-list-subject
      [registeredSubjectListData]="registeredSubjectListData"
      *ngIf="registeredSubjectListData"
    >
    </app-list-subject>
    <app-loading *ngIf="!registeredSubjectListData"></app-loading>
  </div>
</ion-content>
