<ion-header>
  <div style="display: flex; width: 100%; justify-content: start">
    <ion-menu-button></ion-menu-button>
  </div>
</ion-header>

<ion-content>
  <ion-input [(ngModel)]="id" placeholder="Input your ID"></ion-input>
  <ion-button (click)="openSubjectModal()">Subjects</ion-button>
  <ion-button (click)="openTimetableModal()">Timetable</ion-button>

  <div
    style="
      width: 100%;
      display: flex;
      overflow: scroll;
      justify-content: flex-start;
      flex-shrink: 0;
      background-color: yellow;
    "
  >
    <div
      class="trayTab"
      (click)="selectTray0()"
      [ngClass]="{'selected':trayArray[0].status == 1}"
    >
      a
    </div>
    <div
      class="trayTab"
      (click)="selectTray1()"
      [ngClass]="{'selected':trayArray[1].status == 1}"
    >
      b
    </div>
  </div>
  <div style="background: green">&nbsp;</div>
  <div *ngIf="viewMode == 'subject'">Subjectssssssss</div>
  <div *ngIf="viewMode == 'timetable'">Timetableeeeeeeee</div>
</ion-content>
