<ion-content [scrollEvents]="true" (ionScroll)="scroll($event)">
  <div class="global-page-top-area">
    <div>Student</div>
  </div>

  <div class="search-card">
    <ion-item style="width: 100%">
      <ion-label>Course</ion-label>
      <ion-select placeholder="Select Course" [(ngModel)]="courseCode">
        <ion-select-option [value]="coure" *ngFor="let coure of courses"
          >{{coure}}</ion-select-option
        >
      </ion-select>
    </ion-item>

    <ion-item style="width: 100%">
      <ion-label position="floating">Student Matrics / Name</ion-label>
      <ion-input [(ngModel)]="searchString"> </ion-input>
    </ion-item>

    <ion-button (click)="searchStudent()">Search</ion-button>
  </div>

  <div class="search-result-container">
    <ion-list *ngIf="filteredStudentList">
      <ion-list-header> Search Result(s) </ion-list-header>

      <ion-item
        (click)="expandCard(i)"
        *ngFor="let student of filteredStudentList; index as i "
        class="search-result-item"
      >
        <ion-label>
          <div style="display: flex; justify-content: space-between">
            <div style="width: 90%; white-space: pre-wrap">
              <h2 class="main-color">{{student.nama}}</h2>
              <sub style="color: grey; font-style: italic"
                >{{student.no_matrik}}</sub
              >
            </div>
            <ion-icon
              [@rotatedState]="collapse[i]"
              name="chevron-forward-outline"
            ></ion-icon>
          </div>
          <div
            [@collapse]="collapse[i]"
            style="
              display: flex;
              flex-direction: column;
              justify-content: space-between;
            "
          >
            <div style="width: 100%">
              <br />
              <p>Course: {{student.kod_kursus}}</p>
              <p>Year: {{student.tahun_kursus}}</p>
            </div>
            <div style="display: flex; flex-direction: row; width: 100%">
              <ion-button
                class="btn-style"
                (click)="openSubjectModal(student.no_matrik, $event)"
              >
                Subject
              </ion-button>
              <ion-button
                class="btn-style"
                (click)="openTimetableModal(student.no_matrik, $event)"
              >
                Timetable
              </ion-button>
            </div>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
